@model IEnumerable<WebApplication1.ViewModels.OrderOrderDetailViewModel>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table border="1">
    <tr>
        <th>訂單編號</th>
        <th>單價</th>
        <th>數量</th>
        <th>產品名稱</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.OrderId)</td>
            <td>@Html.DisplayFor(modelitem => item.UnitPrice)</td>
            <td>@Html.DisplayFor(modelitem => item.Quantity)</td>
            <td>@Html.DisplayFor(modelitem => item.ProductName)</td>
        </tr>
    }
</table>

